dn: uid=jdoe,ou=people,dc=nodomain
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
uid: jdoe
sn: Doe
givenName: John
cn: John Doe
displayName: John Doe
uidNumber: 10001
gidNumber: 10001
homeDirectory: /home/jdoe
userPassword: {SSHA}187BIp4bTLPrv5jLqezpm1GrFiDFXuSN
loginShell: /bin/bash

dn: uid=jsmith,ou=people,dc=nodomain
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
uid: jsmith
sn: Smith
givenName: Jane
cn: Jane Smith
displayName: Jane Smith
uidNumber: 10002
gidNumber: 10001
homeDirectory: /home/jsmith
userPassword: {SSHA}187BIp4bTLPrv5jLqezpm1GrFiDFXuSN
loginShell: /bin/bash

dn: uid=itadmin,ou=people,dc=nodomain
objectClass: inetOrgPerson
objectClass: posixAccount
objectClass: shadowAccount
uid: itadmin
sn: Admin
givenName: IT
cn: IT Administrator
displayName: IT Admin
uidNumber: 10003
gidNumber: 10002
homeDirectory: /home/itadmin
userPassword: {SSHA}187BIp4bTLPrv5jLqezpm1GrFiDFXuSN
loginShell: /bin/bash
